.container {
  height: 100vh;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.mic {
  font-size: 80px;
  color: gray;
  transition: 0.2s;
}

.mic.on {
  color: red;
}
